@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FelixTitling";
  src: local("FelixTitling"),
    url("../public/fonts/FelixTitling.ttf") format("truetype");
}
@font-face {
  font-family: "Exo-Regular";
  src: local("Exo-Regular"),
    url("../public/fonts/Exo-Regular.ttf") format("truetype");
}
